.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.8s ease;
  overflow: hidden;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 4px;
  box-shadow: 0 2px 9px -1px rgba(0,0,0,0.3);
  text-align: right;
  text-transform: uppercase;
  font-family: "Droid Sans Mono", monospace;
  font-size: 40px;
  letter-spacing: 4px;
  transition: 0.8s ease;
}
.text.white {
  color: #fff;
}
.small {
  display: block;
  position: relative;
  font-size: 14px;
  margin-top: 8px;
  letter-spacing: 1px;
}
